<div class="container-fluid footer mt-5 navbar-dark bg-primary">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-5 mt-3 mb-3">
            <h1>WombWise</h1>
            <p>A Seamless Path to a Healthy and Happy Motherhood</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-5 mt-3 mr-5">
            <a routerLink="FindDoctors">FindDoctors</a>
            <a routerLink="VideoConsultant">VideoConsultant</a>
            <a routerLink="Medicines">Medicines</a>
            <a routerLink="LabTests">LabTests</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3 ml-5">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>